.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  width: 300px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  margin: 20px; /* Adjust margin as needed */
  border: 1px solid #ccc; /* Add borders for better visualization */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  overflow: hidden; /* Ensure content doesn't overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.content {
  padding: 20px; /* Adjust padding as needed */
  overflow: hidden; /* Hide overflowing content */
}

.para {
  margin: 0;
}

.mt-100 {
  margin-top: 100px; /* Adjust top margin as needed */
}
.image {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.image img {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
}

.continue-reading {
  color: blue; /* Adjust link color as needed */
  text-decoration: underline; /* Add underline to indicate it's a link */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.continue-reading:hover {
  color: darkblue; /* Adjust link color on hover as needed */
}



.button-group {
  margin-top: 20px; /* Adjust top margin as needed */
}


