header {
  padding: 10px 150px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 2px 2px 22px 2px #eee;
}
.button-group {
  display: flex;
}
header img {
  height: 50px;
  width: auto;
  image-resolution: initial;
}

header ul li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.header-list ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-list ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-list ul li:hover {
  color: rgba(177, 177, 177, 0.933);
}

@media screen and (max-width: 768px) {
  header {
    margin: 17px 1px;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    font-size: 11px;
    flex-direction: column;
    align-items: center;
  }

  .header-list ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 20px 0;
  }

  .header-list ul li {
    flex: 1;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.buttons {
  background-color: #fc6736;
  color: white;
  border: none;
  border-radius: 10px;
}

.buttons:hover {
  transform: translateY(1px);
}

.login-text {
  color: white;
  letter-spacing: 3px;
  padding: 3px;
}
