.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px #eee;
  width: 90%;
  max-width: 500px;
}

.top-content {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}

img {
  width: 44px;
  height: auto;
}

.head {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.login-form {
  width: 100%;
  margin: 20px;
}

.form label {
  text-align: left;
}

.password,
.email {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
  flex-direction: column;
  margin: 10px 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-group form input {
  padding: 14px 8px;
  width: 100%;
  max-width: 480px;
  border: 2px solid #eee;
  border-radius: 5px;
}

.buttons-group {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

.btn {
  width: 100px;
  padding: 10px 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login {
  background-color: #fc6736;
  color: white;
  font-weight: 600;
}

.btn:hover {
  transform: translateY(1px);
}

.btn-cancel:hover {
  background-color: #eee;
}

@media screen and (max-width: 425px) {
  .modal-content {
    width: 90%;
    max-width: 30px;
  }
}

.no-account:hover {
  cursor: pointer;
  text-decoration: underline;
}

.new-user {
  display: flex;
  justify-content: space-between;
}

.modal-content_signup {
  height: 450px;
  overflow-y: scroll;
}

.password-input {
  position: relative;
}

.password-input input {
  padding: 14px 8px;
  width: 100%;
  max-width: 480px;
  border: 2px solid #eee;
  border-radius: 5px;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
