.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}



.form-container input {
  width: 100%;
  max-width: 430px;
  padding: 10px 16px;
  border: 2px solid #eee;
  border-radius: 10px;
}

.form-container input::placeholder {
  color: gray;
  font-weight: 500;
}

.form-container  button {
  color: white;
  font-size: 0.8rem;
  padding: 10px 22px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: lightseagreen;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
line-height: 15px;
letter-spacing: 1.3333px;
}

.form-container button:hover {
  background-color: #fc6736;
  border: none;
  color: white;
  border: 1px solid #eee;
}

.form-container input:focus {
  outline: none;
}

.form-container input:focus::placeholder {
  padding: 0px 14px;
}

@media (max-width: 600px) {
  .form-container input {
    margin: 0px 6px;
    width: 80%;
    padding: 8px;
  }

  .form-container {
    padding: 0px 20px;
    display: flex;
    gap: 3px;
  }
}
