@import url("./navbar.css");
@import url("./modal.css");
@import url("./footer.css");

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flexbox {
  display: flex;
  .column {
    width: 50%;
  }
}
