.home-container {
  background-image: url(../navbar-imag.jpg); /* Add your image path here */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire container */
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align the text */
}

.banner-content {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideInFromTop 1s ease-in-out both;
}
.subText {
  text-align: right;
}

.categories,
.categories2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 60px;
}

.shoes-container {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideInFromTop 1s ease-in-out both;
}

.shoes-container img {
  width: 450px;
  height: 400px;
  background-color: transparent;
  backface-visibility: hidden;
  border-radius: 100%;
}

.categories h2 {
  color: white;
}

.categories2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 60px;
  flex-direction: row-reverse;
}
